[Bootstrap]
Mem=../Data/OgreCore.zip*Zip
Mem=../Data/MaterialTemplates.zip*Zip

[General]
Mem=../Data/Effect.axp*AxpFileSystem
Mem=../Data/Model.axp*AxpFileSystem
Mem=../Data/Model2.axp*AxpFileSystem
Mem=../Data/Model3.axp*AxpFileSystem
#Mem=../Data/Model4.axp*AxpFileSystem
Mem=../Data/Model5.axp*AxpFileSystem
Mem=../Data/Model6.axp*AxpFileSystem
Mem=../Data/Model7.axp*AxpFileSystem
Mem=../Data/Interface*FileSystem
Mem=../Data/Material.axp*AxpFileSystem
Mem=../Data/Material2.axp*AxpFileSystem
Mem=../Data/Material3.axp*AxpFileSystem
Mem=../Data/Material4.axp*AxpFileSystem
Mem=../Data/Material5.axp*AxpFileSystem
Mem=../Data/Material6.axp*AxpFileSystem
Mem=../Data/Material7.axp*AxpFileSystem
Mem=../Data/Sound.axp*AxpFileSystem
Mem=../Data/Config*FileSystem

[Brushes]
Mem=../Data/Brushes.axp*AxpFileSystem

[Scene]
Mem=../Data/Scene*FileSystem