#雪舞专用配置文件@请勿随意修改,仅可修改视角类项目

[Disclaimer]
Notice=公开版本@仅供学习交流，严禁用于商业用途，请于24小时内删除,当前版本SOV2.7_DLLV2.0-@XUEWU_2026-3-1


[Variable]
GameServer_Address 	=192.168.0.116
GameServer_Port 	=1231
GameServer_ConnectDirect=0

User_NAME		=雪舞
User_GENDER		=0
User_GUID		=1834092666

#-------------------------------
#5~150
#-------------------------------
System_MaxFPS_Front	=90
System_MaxFPS_Back	=90

#-------------------------------
# Direct3D or OpenGL
#-------------------------------
Gfx_API		=Direct3D		

#-------------------------------
# Camera
#-------------------------------
Camera_MinDistance	=4.0
Camera_MaxDistance	=27.5
Camera_Pitch		=40.0
Camera_FOV		=35.0

Camera_Smooth		=1
Camera_RestoreView	=0
Camera_Pitch_Min	=-10.0
Camera_Pitch_Max	=50.0
Camera_Pitch_Moving	=40.0
Camera_MoveSpeed_Auto	=30.0
#-------------------------------
# Backsound Volume
#-------------------------------
DisableAllSound	=0

EnableBGSound		=1
Enable3DSound		=1
EnableSKSound		=1
EnableUISound		=1

VOLUME_BG		=0.500000
VOLUME_3D		=0.500000
VOLUME_SK		=0.500000
VOLUME_UI		=0.500000

#-------------------------------
# Debug Option
#-------------------------------
EnableLuaCrash =1
EnableNetDelayReport =1
DebugMode=1
# VietNam
System_District=2
System_CodePage=1258
#-------------------------------
# View Setup
#-------------------------------
View_Gamma		=2
View_Fanhunjiao		=0
View_GroundHighLight	=0
View_ModlePolygon 	=1
View_TextureQuality	=1
View_ObjectMove		=2
View_Floodlight 	=1
View_Aplomb 		=1
View_WaterMove		=1
View_EffectQuality	=1
View_HumanLightmap	=1
View_HumanHighLight	=1
View_FullScreenLight	=0
View_Resoution 		=1024,768
View_LightmapQuality	=2
View_ColorQuality	=2
View_TextureFiltering	=2
View_FullScreen		=0
View_PolygonQuantity	=0
View_WalkEffect		=1
View_Weather		=1
View_EnableFog 		=1
View_Transparency	=0
View_UpdateQuality	=2
View_EffectLevel	=2
View_MaxWindow		=1
View_UseSkyCamera	=1
View_SkyBoxRefreshTime	=3000
View_ModelShowLogic	=2

;排行榜链接地址
PaiHangBang_LinkURL=http://tlhj.changyou.com/m/events/paihang/inner/gs.shtml
RecentlyUpdate_LinkURL=http://tl.changyou.com/events
bShowGameProgress =0

#-------------------------------
# AladdinConfig
#-------------------------------
Aladdin_URL=https://aladdin-tlbb.the3.changyou.com/stable/index.html/#/
Aladdin_DEV_MODE=0   
Aladdin_SHOW_ENTRY=0 
Aladdin_BROWSER_WIDTH=790   
Aladdin_BROWSER_HEIGHT=522
NewShaderCacheReset=2608262323
NewMaterialTemplateMD5=8b9464f2affda8d262c9939d3fb6cbc1
NewHardwareID1=1178873923,942944309
NewHardwareID2=1177628723,942949953
#=
Loading_Video=2022Q3.mp4
View_VisibleModelNum=170
DisableMainSound=0

System_CodePage=936

#游戏窗口标题自定义
GameName=天龙八部

#-------------------------------
# XueWuConfig
#-------------------------------
[GoodsProtect_Goods]
#1=允许丢弃/出售受贵重物品, 0=保持原有保护逻辑
AllowDropAndSell=1
[XueWu_switch]
#是否启用拖拽回调 1启用 0关闭
NotifyDragDropDragged=1	
#是否启用光影加强
EnableShadow=1
#雪舞的QQ是多少(请勿删除修改此项目)
XueWuQQ=784055837
#开启图鉴蒙灰效果
MeshWindowDisabledGrey=1
#设为 1 启用明文显示，不配置或设为 0 则保持原始 * 遮罩行为。
PasswordUnmask=1
[NewExterior]
#开启幻饰武器上限扩展
ExteriorWeaponExt=1
;设为1开启详细日志
VerboseLog=0


[TDU_Log]
#1=开启日志, 0=关闭日志 (2026_01_24_22424.log)
Enable=1
[Ogre_Log]
#0=关闭日志且不创建文件, 1=开启日志 (Fairy_0.log MiniClient_0.log)
Enable=1   
[GameLaunch]
debug=1           ; 调试模式
neigua=0          ; 内挂模式
just=0            ; just模式
wegame=0          ; WeGame模式
wgdebug=0         ; WeGame调试模式
hjwmc=0           ; hjwmc模式
hjmc_wl=0         ; hjmc_wl模式 (同时设置hjmc)
hjmc=0            ; hjmc模式
debugkeymouse=0   ; 调试键鼠
[SectSchemaExtension]
Enable=1
MaxSectLayers=30
MaxSectCount=15
SkipTalentTask=1
[AntiCheat]
BlockInjection=0    # 测试反作弊功能总开关
InterceptDLL=1      # DLL加载拦截
ScanPath=1          # 路径关键词检测
ScanSignature=1     # 字符串特征码扫描
ScanMemory=1        # 内存字节码扫描
Behavior=1          # 行为分析
Whitelist=1      	# 严格模式开启
NewDLL=1         	# 严格模式开启
LuaDebug=1       	# 检测LUA调试DLL
LearnMode=0			# 学习模式: 1=开启, 0=关闭
#是否开启恶人谷动作支持
[ActionSetExt]
Enable=1
[TLBBVersion]
Version=1650
[ItemLocatorAction]
Enable=1
VerboseLog=1
#时间炸弹模拟器,请使用TimeBombGenerator生成
[TimeBomb]
ExpireTime=qT9lXpNXOirc5LcJ0LyL+kntGYvGPnSp630Eh6VlTM0id5/U+NVubsABS7weEOZG
ExpireHash=0c96eaa90e711b9485ae0b50446f476c45d7b14a5b36674c6520fcbcbedcdb3d
AntiDebug=x0y7cnEmVEJXMAxk0JBJHHDpRfF1Nj/E+hFPFnDiAus=
AntiDebugHash=69823e78ad895480d14c13c779d4ca8272c41ec1fe9acb71445c9b38b29727b6
[RemoteAddrUpdater]
Enable=1
URL=http://activity.changyou.com/client/ip.jsp

[AccountReg]
RegisterUrl=https://waylee.net/tlbb/x64/reg.php
QRRegisterUrl=https://waylee.net/tlbb/x64/reg.php

[QuickLogin]
QuickLoginEnable=0
